doctype html
html(lang='ru')
  block var
  head
    include ../global/head
  body
    include ../components/preloader
    .base.hide(data-content)
      block header
      block content
      block footer
      include ../global/scripts
