extends layout/layout

block var
  - var title = 'Портфолио';

block header
  include layout/header

block content
  main.main.content
    include components/sa
    h2.main__subtitle Sedov Aleksei
    h1.main__title Senior Front-end developer
    p.main__text
      | Hi, I'm Aleksei Sedov.
      span.main__age(data-age) 25
      | year old front-end developer based in Nizhny Novgorod, Russia.

    .main__links
      .main__linksBlock
        a.link-btn.link-btn_github(href='https://github.com/AleksRap/RESUME' target='_blank') to my resume on the GitHub
        a.link-btn.link-btn_hh(href='https://nn.hh.ru/applicant/resumes/view?resume=e72f9a98ff06c827240039ed1f735943735256' target='_blank') to my resume on the HeadHunter
        a.link-btn.link-btn_linkedin(href='https://www.linkedin.com/in/sedov-ai/' target='_blank') to my resume on the LinkedIn
      .main__separate
      .main__linksBlock
        a.link-btn(href='projects.html') to my projects
        a.link-btn(href='recommendations.html') to recommendations for me

block footer
  include layout/footer
