extends layout/layout

block var
  - var title = 'Портфолио';

block header
  include layout/header

block content
  main.projects.content
    include components/sa
    nav.projects__nav
      a.projects__to-main(href='/') on main
    ul.projects__list

      -
        projects = [
          {name: 'Examples code', description: 'code examples from various projects', urlRepository: 'examples-code'},
          {name: 'Gulp start template', description: 'config for gulp', urlRepository: 'my-gulp-start-template'},
          {name: 'Webpack start template', description: 'config for webpack + eslint + prettier', urlRepository: 'my-webpack-start-template'},
          {name: 'React start template', description: 'config for react + typescript', urlRepository: 'my-react-start-template'},
          {name: 'Pokeguides', description: 'adaptive application for search info about pokemons with use PokeApi', urlRepository: 'pokeguides', urlDemo: 'https://pokeguides-c172a.firebaseapp.com/'},
          {name: 'React Quiz', description: 'creating quizzes, authorization, and the ability to save your own quizzes', urlDemo: 'https://react-quiz-e6514.firebaseapp.com/', urlRepository: 'react-quiz'},
          {name: 'React Github', description: 'interacting with the github api', urlRepository: 'react-github'},
          {name: 'YandexDiskPhotoApi', description: 'you can get list public photo from yandex disk, from special folder', urlRepository: 'yandexDiskPhotoApi'},
          {name: 'Get Questions', description: 'app for getting list of questions', urlDemo: 'https://podcast-app-aleksrap.firebaseapp.com/', urlRepository: 'get-questions'},
          {name: 'Game Guess Password', description: 'console game for guessing the number conceived by the computer', urlRepository: 'game-guess-password'},
          {name: 'Geromedicine', description: 'multi-page site', urlDemo: 'projects/geromedicine/index.html', urlRepository: 'geromedicine'},
          {name: 'Glorax', description: 'interactive landing', urlDemo: 'projects/glorax/index.html', urlRepository: 'glorax'},
          {name: 'Library', description: 'libraries and utils', urlRepository: 'library'},
        ]

      each project in projects
        li.projects__item
          .projects__info
            span.projects__name=project.name
            span.projects__separator -
            span.projects__description=project.description
          if (project.urlDemo || project.urlRepository)
            .projects__links
              | [
              if (project.urlDemo)
                a.projects__link(href=project.urlDemo target='_blank') demo
              if (project.urlDemo && project.urlRepository)
                span.projects__separator |
              if (project.urlRepository)
                a.projects__link(href=`https://github.com/AleksRap/${project.urlRepository}` target='_blank') repository
              | ]


block footer
  include layout/footer
