extends layout/layout

block var
  - var title = 'Портфолио';

block header
  include layout/header

block content
  main.projects.content
    include components/sa
    a.projects__to-main(href='/') На главную
    ul.projects__list

      -
        projects = [
          {name: 'Геромедицина', description: 'многостраничный сайт', type: 'demo', url: 'projects/geromedicine/index.html'},
          {name: 'Glorax', description: 'интерактивный лендинг', type: 'demo', url: 'projects/glorax/index.html'},
          {name: 'Weather', description: 'погодное приложение', type: 'demo', url: ''},
          {name: 'Game Guess Password', description: 'консольная игра на угадывание задуманного компьютером числа', type: 'repository', url: 'https://github.com/AleksRap/game-guess-password'},
          {name: 'My Gulp config', description: 'мой конфиг для gulp', type: 'repository', url: 'https://github.com/AleksRap/my-gulp'},
          {name: 'My Webpack config + ESLint', description: 'мой конфиг для webpack + eslint', type: 'repository', url: 'https://github.com/AleksRap/my-webpack'},
          {name: 'My libs', description: 'написанные мной библиотеки и плагины', type: 'repository', url: 'https://github.com/AleksRap/my-libs'},
          {name: 'Examples code', description: 'примеры кода из различных проектов', type: 'repository', url: 'https://github.com/AleksRap/examples-code'},
          {name: 'React Quiz', description: 'создание квизов, авторизация, возможность сохранять свои квизы', type: 'demo', url: 'https://react-quiz-e6514.firebaseapp.com/'},
          {name: 'React Github', description: 'взаимодействие с api github', type: 'repository', url: 'https://github.com/AleksRap/react-github'},
          {name: 'Get Questions', description: 'приложение для получения списка вопросов', type: 'demo', url: 'https://podcast-app-aleksrap.firebaseapp.com/'},
        ]

      each project in projects
        li.projects__item
          a.projects__link(href=project.url)
            span.projects__name=project.name
            span.projects__separator -
            span.projects__type (!{project.type})
            span.projects__description=project.description

block footer
  include layout/footer
