extends layout/layout

block var
  - var title = 'Портфолио';

block header
  include layout/header

block content
  main.projects.content
    include components/sa
    nav.projects__nav
      a.projects__to-main(href='/') on main
    ul.projects__list

      -
        projects = [
          {name: 'Pokeguides', description: 'adaptive application for search info about pokemons with use PokeApi', urlRepository: 'https://github.com/AleksRap/pokeguides', urlDemo: 'https://pokeguides-c172a.firebaseapp.com/'},
          {name: 'YandexDiskPhotoApi', description: 'you can get list public photo from yandex disk, from special folder', urlRepository: 'https://github.com/AleksRap/yandexDiskPhotoApi'},
          {name: 'Examples code', description: 'code examples from various projects', urlRepository: 'https://github.com/AleksRap/examples-code'},
          {name: 'My Gulp config', description: 'my config for gulp', urlRepository: 'https://github.com/AleksRap/my-gulp'},
          {name: 'My Webpack config + ESLint', description: 'my config for webpack + eslint', urlRepository: 'https://github.com/AleksRap/my-webpack'},
          {name: 'My libs', description: 'libraries and plugins I wrote', urlRepository: 'https://github.com/AleksRap/my-libs'},
          {name: 'Geromedicine', description: 'multi-page site', urlDemo: 'projects/geromedicine/index.html', urlRepository: 'https://github.com/AleksRap/geromedicine'},
          {name: 'Glorax', description: 'interactive landing', urlDemo: 'projects/glorax/index.html', urlRepository: 'https://github.com/AleksRap/glorax'},
          {name: 'Game Guess Password', description: 'console game for guessing the number conceived by the computer', urlRepository: 'https://github.com/AleksRap/game-guess-password'},
          {name: 'React Quiz', description: 'creating quizzes, authorization, and the ability to save your own quizzes', urlDemo: 'https://react-quiz-e6514.firebaseapp.com/', urlRepository: 'https://github.com/AleksRap/react-quiz'},
          {name: 'React Github', description: 'interacting with the github api', urlRepository: 'https://github.com/AleksRap/react-github'},
          {name: 'Get Questions', description: 'app for getting list of questions', urlDemo: 'https://podcast-app-aleksrap.firebaseapp.com/', urlRepository: 'https://github.com/AleksRap/get-questions'},
        ]

      each project in projects
        li.projects__item
          .projects__info
            span.projects__name=project.name
            span.projects__separator -
            span.projects__description=project.description
          if (project.urlDemo || project.urlRepository)
            .projects__links
              | [
              if (project.urlDemo)
                a.projects__link(href=project.urlDemo target='_blank') demo
              if (project.urlDemo && project.urlRepository)
                span.projects__separator |
              if (project.urlRepository)
                a.projects__link(href=project.urlRepository target='_blank') repository
              | ]


block footer
  include layout/footer
