.main {

  &__subtitle {
    margin: 0;

    font-size: rem(70);
    font-weight: 300;
    color: $second-color;
    letter-spacing: -0.05em;
  }

  &__title {
    margin-top: 0;
    margin-bottom: rem(40);

    font-size: rem(80);
    font-weight: 700;
  }

  &__text {
    margin-bottom: rem(60);
    font-size: rem(20);
  }

  &__age {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: rem(30);

    @media (min-width: 960px) {
      flex-direction: row;
      gap: rem(50);
    }
  }

  &__linksBlock {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__separate {
    height: 1px;
    background-color: $first-color;
    opacity: .2;
    flex: 0 0 auto;

    @media (min-width: 960px) {
      width: 1px;
      height: initial;
    }
  }
}
