.projects {
  min-height: 100vh;

  &__to-main {
    position: fixed;
    top: 15px;
    left: 15px;

    padding-right: 15px;

    font-size: rem(16);
    text-decoration: none;
    color: $first-color;

    border-right: 1px solid $second-color;
  }

  &__list {
    max-width: 1000px;
    margin-top: 50px;

    @media (min-width: 768px) {

      margin-top: 100px;
    }
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $first-color;
    text-decoration: none;
    font-size: rem(20);
  }

  &__name {
    @include dotdotdot();

    display: block;
    width: 300px;
    font-weight: 600;
  }

  &__separator {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__type {
    margin-right: 5px;
    font-style: italic;
    font-size: rem(12);
  }

  &__description {
    font-size: rem(16);
  }
}
