@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: normal;
  src: local('WorkSans-Regular'), url('../fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 300;
  src: local('WorkSans-Light'), url('../fonts/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 700;
  src: local('WorkSans-Bold'), url('../fonts/WorkSans-Bold.woff') format('woff');
}

